@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


$font-stack: 'Roboto', sans-serif;

*,
body {
	font-family: $font-stack;
}

@mixin post-title-font {
	font-size: 24px;
	text-align: center;
}

#title {
	border-bottom: 1px solid #555;
	font-size: 40px;
	font-weight: 300;
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 4px;

	a {
		color: black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

nav {
	display:block;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 16px;
	padding-top: 6px;
	width: fit-content;

	li {
		display: inline-block;
		margin-left: 8px;
		margin-right: 8px;
		text-transform: uppercase;
	}

	a {
		color: black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

