.medaillon {
	width: 200px;
	margin: 10px;
	margin-left: 25px;
	border-radius: 100px;
}

#pennapps {
	width: 400px;
	margin: 10px;
	margin-right: 50px;
	position: absolute;
	right: 0px;
}

#pennappsContainer {
	height: 300px;
	width: 200px;

}