.icons {
	margin-left: 8px;
	img {
		margin-left: 4px;
		height: 32px;
		&:hover {
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
	}
}

.photos {
	@include photo;
	max-width: 80%;
}

.text-content {
	width: 60%;
	margin: 50px 20%;
	position: relative;
}

.text-content-markdown {
	@include text-content-font;
}

#hullo {
	display: inline-block;
	font-size: 24px;
	margin-right: 20%;
    margin-top: 150px;
    position: absolute;
    right: 0px;
}

#title {
	border-bottom: 2px solid #A5A6A8;
	padding-bottom: 15px;
	padding-top: 45px;
}

nav {
	display:block;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-top: 16px;
	padding-bottom: 16px;
	width: fit-content;

	li {
		display: inline-block;
		margin-left: 8px;
		margin-right: 8px;
	}
}


