@mixin photo {
	display: block;
	margin: 2px auto 2px;
}

@mixin post-tile {
	background-color: #FAFAFA;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 40px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 35px 5% 25px 5%;
	width: 60%;
}

@mixin text-content {
	margin-left: 5px;
	margin-right: 5px;
}