@mixin photo {
	display: block;
	margin: 2px auto 2px;
}

@mixin post-tile {
	background-color: #FAFAFA;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	margin-bottom: 40px;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 35px;
	padding-bottom: 25px;
	padding-left: 5%;
	padding-right: 5%;
	width: 60%;
}

@mixin text-content {
	margin-left: 5px;
	margin-right: 5px;
}