div {
	width: 100%;
	margin: auto;
}

.blogDate {
	@include date-font;
}

.blogDescription {
	margin-top: 10px;
	text-align: center;
}

.blogContent {
	@include text-content;
	margin-top: 20px;
}

.blogPost {
	@include post-tile;
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}

.blogTitle {
	@include post-title-font;
}
