div {
	width: 100%;
	margin: auto;
}

.blogDate {
	@include date-font;
}

.blogDescription {
	margin-top: 10px;
	text-align: center;
}

.blogContent {
	@include text-content;
	margin-top: 20px;
}

.blogPost {
	@include post;
	padding-top: 20px;
}

.blogTitle {
	@include post-title-font;
}
