div {
	width: 100%;
	margin: auto;
}


a {
	color: #4078c0;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
}

.projectDescript {
	margin-top: 4px;
}

.projectPhoto {
	@include photo;
	margin-top: 16px;
	margin-bottom: 8px;
}

.projectPost {
	@include post-tile;
	text-align: center;
}

.projectTitle {
	@include post-title-font;
}